jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterthemes
ansible
ansible_runner
apache-libcloud
arrow
astroid
aws-lambda-builders
aws-sam-cli
aws-sam-translator
binaryornot
boto3
botocore
certifi
cryptography
dateparser
Django
docker
docutils
enum34
Flask
future
futures
greenlet
httplib2
idna
ipaddress
itsdangerous
isort
Jinja2
jinja2-time
MarkupSafe
mccabe
msgpack
neovim
netaddr
paramiko
parso
pathlib2
pbr
powerline-status
poyo
psutil
pyasn1
pycrypto
#pygobject
pykerberos
pylint
pylint-django
pylint-flask
pylint-plugin-utils
pyOpenSSL
python-dateutil
pytz
pyxdg
PyYAML
regex
requests
s3transfer
scandir
SecretStorage
serverlessrepo
six
stevedore
subprocess32
trollius
tzlocal
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
websocket-client
Werkzeug
whichcraft
wrapt
xmltodict
